<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Edukacioni centar</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Edukacioni centar</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Radionice", "Index", "Home")</li>

                    @{
                        var uloga = Session["uloga"] as string;
                    }

                    @if (uloga == "Ucesnik")
                    {
                        <li>@Html.ActionLink("Moje prijave", "Prijave", "Ucesnik")</li>
                    }

                    @if (uloga == "Predavac")
                    {
                        <li>@Html.ActionLink("Moje radionice", "Radionice", "Predavac")</li>
                    }

                    @if (uloga == "Administrator")
                    {
                        <li>@Html.ActionLink("Predavači", "Predavaci", "Admin")</li>
                        <li>@Html.ActionLink("Novi predavač", "NoviPredavac", "Admin")</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["user"] != null)
                    {
                        <li><a>Ulogovani ste (@uloga)</a></li>
                        <li>@Html.ActionLink("Odjava", "Logout", "Authentication")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Prijava", "Login", "Authentication")</li>
                        <li>@Html.ActionLink("Registracija", "Register", "Authentication")</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content" style="margin-top: 70px;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Edukacioni centar</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
