@model IEnumerable<WebProjectTurist.Models.Aranzman>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Pocetna";
    var user = Session["user"] as WebProjectTurist.Models.Korisnik;
}


<h2>Turisticki aranzmani</h2>

<form method="get">
    <label>Naziv: </label>
    <input type="text" name="searchNaziv" />

    <label>Tip prevoza: </label>
    <select name="tipPrevoza">
        <option value="">--svi--</option>
        <option>Autobus</option>
        <option>Avion</option>
        <option>AutobusAvion</option>
        <option>Individualan</option>
        <option>Ostalo</option>
    </select>

    <label>Tip aranzmana: </label>
    <select name="tipAranzmana">
        <option value="">--svi--</option>
        <option>NocenjeSaDoruckom</option>
        <option>Polupansion</option>
        <option>PunPansion</option>
        <option>AllInclusive</option>
        <option>NajamApartmana</option>
    </select>
    <br />
    <label>Datum početka - od: </label>
    <input type="date" name="datumPocetkaOd" />

    <label>Datum početka - do: </label>
    <input type="date" name="datumPocetkaDo" />

    <label>Datum završetka - od: </label>
    <input type="date" name="datumZavrsetkaOd" />

    <label>Datum završetka - do: </label>
    <input type="date" name="datumZavrsetkaDo" />
    <br />
    <label>Sortiraj po: </label>
    <select name="sort">
        <option value="">--</option>
        <option value="nazivAsc">Naziv ↑</option>
        <option value="nazivDesc">Naziv ↓</option>
        <option value="pocetakAsc">Datum pocetka ↑</option>
        <option value="pocetakDesc">Datum pocetka ↓</option>
        <option value="krajAsc">Datum zavrsetka ↑</option>
        <option value="krajDesc">Datum zavrsetka ↓</option>
    </select>

    <input type="submit" value="Pretrazi" />
</form>

<hr />

@if (Model != null && Model.Any())
{
    foreach (var a in Model)
    {
        <div style="border:1px solid gray; margin:10px; padding:10px;">
            <h3>@a.Naziv</h3>
            <p><b>Lokacija:</b> @a.Lokacija</p>
            <p><b>Trajanje:</b> @a.DatumPocetka - @a.DatumZavrsetka</p>
            <p><b>Tip prevoza:</b> @a.TipPrevoza</p>
            <p><b>Tip aranžmana:</b> @a.TipAranzmana</p>
            <img src="@a.Poster" alt="poster" style="width:200px;" />
            <br />
            <a href="~/Home/Details?naziv=@a.Naziv">Detalji</a>
            @if (Session["user"] != null &&
         ((WebProjectTurist.Models.Korisnik)Session["user"]).Uloga == WebProjectTurist.Models.UlogaKorisnika.Turista)
            {
                <a href="/Turista/NovaRezervacija?naziv=@a.Naziv" class="btn btn-success">Rezerviši</a>
            }
        </div>
    }
}
else
{
    <p>Nema dostupnih aranzmana.</p>
}
